{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block metas %}
  {{ super() }}
  <meta name="description" content="user_page를 정의합니다.">
{% endblock %}
{% block title %}user_page{% endblock %} 
{% block page_content %}
  <header>
    <h1>리뷰앱</h1>
    <h2>{{ name }}님, 환영합니다!</h2>
  </header>
    <section>
      {{ wtf.quick_form(review) }} 
    </section>
      <section>
        <h2>복습 문제 목록</h2>
        {% if problems %}
          {% for problem in problems %} 
        <article class="card">
          <div class="problem-name">
            <h3>{{ problem.name }}</h3>
          </div>
          <div class="problem-meta">
            <p>중요도: {{ problem.importance }}</p>
          </div>
          <div class="problem-date">
            <p>{{ problem.date }}</p>
          </div>
        </article>
          {% endfor %}
        {% endif %}
      </section>
        
{% endblock %}
