{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block metas %}
  {{ super() }}
  <meta name="description" content="user_page를 정의합니다.">
{% endblock %}
{% block title %}user_page{% endblock %} 
{% block page_content %}
  <header>
    <h1>리뷰앱</h1>
    <h2>{{ name }}님 환영합니다.!</h2>
  </header>
  <main>
    <section>
      {% if problems %}
        {% for problem in problems %} 
          {{ problem.name }}
          {{ problem.importance }}
          {{ problem.date }}
        {% endfor %} 
      {% endif %} 
    </section>
  </main>
{{ wtf.quick_form(review) }} 
{% endblock %}
