{% extends "bootstrap/base.html" %} 
{% block metas %} 
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="author" content="Choi">
{% endblock %} 
{% block title %}리뷰 앱{% endblock %} 
{% block styles %}
  {{ super() }} 
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %} 
{% block navbar %}
  <a href="{{ url_for('main.index') }}">Home</a>
    {% if current_user.is_authenticated %}
    <li>
      <a href="{{ url_for('main.user_profile', username=current_user.username) }}">
        Profile 
      </a>
    </li>
    {% endif %} 
{% endblock %} 
{% block content %}
  <main class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %} {% block page_content %}{% endblock %}
  </main>
  <aside>
    <p>현재 시각은 {{ moment(current_time).format('LLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
  </aside>
{% endblock %} 
{% block scripts %} 
  {{ super() }} 
  {{ moment.include_moment() }}
{% endblock %}
