{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %} 
{% import "_macros.html" as macros %} 

{% block page_content %} 
<div class="page_content">
    <h1>Hello,
        {% if current_user.is_authenticated %}
            {{ current_user.username }}!
            <br><a href="{{ url_for('.user_page',) }}">Start</a>
        {% else %} 
            Stranger! 
        {% endif %}
    </h1>
    {% if current_user.can(Permission.Edit) %} 
        {{ wtf.quick_form(form) }} 
    {% endif %} 

    {% include '_posts.html' %} 
    {{ macros.pagination_widget(pagination, ".index") }}
    

</div>
{% endblock %} 
{% block scripts %} 
    {{ super() }} 
    {{ pagedown.include_pagedown() }} 
{% endblock %} 

