{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %} 
{% import "_macros.html" as macros %} 
{% block page_content %} 
<div class="page_content">
    <h1>Hello,
        {% if current_user.is_authenticated %}
            {{ current_user.username }}!
            <br><a href="{{ url_for('.user_page',) }}">Start</a>
        {% else %} 
            Stranger! 
        {% endif %}
    </h1>
    {% if current_user.can(Permission.Edit) %} 
        {{ wtf.quick_form(form) }} 
    {% endif %} 
    <ul class="nav nav-tabs"> 
        <li class="nav-item">
            <a class="nav-link {{ '' if show_followed else 'active'  }}" href="{{ url_for('.show_all') }}">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if show_followed else '' }}" href="{{ url_for('.show_followed') }}">Followed</a>
        </li>
    </ul>
    {% include '_posts.html' %} 
    {{ macros.pagination_widget(pagination, ".index") }}
</div>
{% endblock %} 
{% block scripts %} 
    {{ super() }} 
    {{ pagedown.include_pagedown() }} 
{% endblock %} 

